
  /* this selector selects all divs inside of .flex-container */
  .flex-container {
    display:flex;
    justify-self:center;
  }
  .box1{
    background-color: aqua;
    margin: 3px;
  }
  .box2{
    background-color: blue;
    margin: 3px;
  }
  .box3{
    background-color: brown;
    margin: 3px;
  }